body {
    font-size: 12px;
}
th {
    text-align: center;
    vertical-align: middle !important;
    font-weight: normal;
}
td {
    vertical-align: middle !important;
}
h3 {
    font-size: 14px;
}
ol, ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}
li:before {
    content: "- ";
}
li {
    margin: 0;
    padding: 0;
}
.header {
    margin: 0 auto;
    text-align: center;
}

.gambar {
    width: 150px !important;
    margin-bottom: 10px !important;
    background-position: top !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}