body {
    background-color: #ddd;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 20px;
}
.container {
    margin: 20px auto;
    max-width: 960px;
    background-color: #fff;
    box-shadow: 0 2px 2px #111;
}
.header {
    padding: 50px 15px;
    font-weight: bold;
    letter-spacing: -1px;
    background-color: #105395;
    border-bottom: 1px solid #1a60a5;
    color: #fff;
}
.logo {
    width: 100px;
}
.header h1 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
}
.header h2 {
    font-variant: normal;
    font-size: 18px;
    letter-spacing: normal;
}
.dropdown-menu>li>a {
    padding: 10px 20px;
}
.form-horizontal .control-label {
    text-align: left;
}
.navbar {
    margin: 0;
}
.carousel {
    background-color: #222;
    margin-bottom: 20px;
}
.sidebar-box {
    margin-bottom: 20px;
}
.sidebar-box h4 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1a60a5;
    color: #fff;
}
.produk .produk-box {
    padding: 15px;
    transition: all .2s;
}
.produk .produk-box:hover {
    background-color: #eee;
}
.produk .gambar {
    height: 150px;
    margin-bottom: 10px;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
.produk .gambar-detail {
    height: 300px;
}
.produk h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.produk p {
    font-size: 12px;
}
.produk input[name=jumlah], .produk select {
    margin: 0;
    width: 40%;
    display: inline-block;
}
.footer {
    margin-top: 20px;
    padding: 15px 0;
    border-top: 1px solid #eee;
}